html {
  background-color: #F5EFE7;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
  color: #967E76
}

h3 {
  color: #4F709C
}

p {
  color: navy
}

ul {
  color: #213555
}
